services:
  server:
    build: ./server/
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "8081:8081"
    environment:
      POSTGRESQL_SERVICE_HOST: postgres
      POSTGRESQL_SERVICE_PORT: '5432'
      POSTGRESQL_DATABASE: ${POSTGRES_DB}
      POSTGRESQL_USER_SERVER: ${POSTGRES_USER}
      POSTGRESQL_PASSWORD_SERVER: ${POSTGRES_PASSWORD}
  postgres:
    image: postgres:16.11
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_volume:/data/postgres
volumes:
  postgres_volume:
